
            <div class="content" style="margin-top: 50px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="{{data.pic}}" />
                  </a>
                </div>
                <div class="card-body">
                  <h2 class="card-title">{{data.product_name}}</h2>
                  <h4 class="card-category text-gray">BRAND: {{data.product_brand}}</h4>
                  <h4 class="card-category text-gray">CATEGORY: {{data.category_name}}</h4>
                  <h4 class="card-category text-gray">PRICE: {{data.price}}</h4>
                  <h5 class="card-description">{{data.desc}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>