<div class="container pb-5 mb-5" style="margin-top: 50px">
  <div class="jumbotron mt-2">
<div class="modal-body">
  {{#each stylist}}
         <form method="post" action="/admin/update/stylist/{{this.id}}">
            <div class="form-group">
              Blog Name: <input type="text" class="form-control" placeholder="{{this.name}}" name="name" required>
              Description: <input type="text" class="form-control" placeholder="{{this.description}}" name="desc" required>
              Picture: <input type="text" class="form-control" placeholder="{{this.pic}}" name="pic" required>
              Facebook Link: <input type="text" class="form-control" placeholder="{{this.fb}}" name="fb" required>
              Instagram Link: <input type="text" class="form-control" placeholder="{{this.ig}}" name="ig" required>
               <button type="submit" class="btn btn-primary btn-lg" title="Submit contact form">
            Update
            </button>
            </div>
        </form>
    {{/each}}
</div>
</div>
</div>