{{> header}}
      
      <div class="hero hero-slider">
        <ul class="slides">
        	{{#each rows.[0]}}
          <li data-bg-image="{{this.pic}}">
            <div class="container">
              <h3 class="slider-subtitle">Featured Blog</h3>
              <h2 class="slider-title">{{this.name}}</h2>
              <p>{{this.description}}</p>
              <a href="{{this.url}}" class="button large">Read more</a>
            </div>
            {{/each}}
          </li>
        </ul>
      </div>

      <!--OUR SERVICES-->

        <div class="fullwidth-block features-section">
          <div class="container">
            <h2 class="section-title">our Services</h2>
            <div class="row">
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-1.png" class="feature-image">
                  <h3 class="feature-title">Hair Colors</h3>
                  <p>Changing or adjusting the color of the hair is the most powerful “happy weapon” of that kind, that we offer. All of our designers are trained in advanced colour techniques as well as advanced colour theory classes. We are committed to ongoing, advanced training and embrace education.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-2.png" class="feature-image">
                  <h3 class="feature-title">Consultation</h3>
                  <p>Hairs have played a major role on our everyday life. It's time to know their health and ways to restore its natural state. Let The Bloc by Junie Sierra & Co. takes care of our most precious hair.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-3.png" class="feature-image">
                  <h3 class="feature-title">Haircut</h3>
                  <p>With so many different popular hairstyles these days, finding the best haircut can be confusing. Deciding on the best hairstyle isn’t all about the latest trends or the coolest cuts, but more about picking the best haircut for you. Let The Bloc by Junie Sierra & Co. help you find your perfect look.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <img src="images/icon-4.png" class="feature-image">
                  <h3 class="feature-title">Make-up</h3>
                  <p>Makeup artistry is an exciting, challenging, and incredibly rewarding career choice. Let The Bloc by Junie Sierra & Co. help you achieve the perfect look on the perfect occasion!</p>
                </div>
              </div>
            </div> <!-- .row -->
          </div> <!-- .container -->
        </div> <!-- .fullwidth-block.features-section -->

        <div class="fullwidth-block team-section">
          <div class="container">
            <h2 class="section-title">Our team</h2>
           {{#each rows.[1]}}
            <div class="row">
              <div class="col-md-3">
                <div class="team">
                  <figure class="team-image"><img src="{{this.pic}}"></figure>
                  <h3 class="team-name">{{this.name}}</h3>
                  <p>{{this.description}}</p>
                  <div class="social-links">
                    <a href="{{this.fb}}"><i class="fa fa-facebook"></i></a>
                    <a href="{{this.ig}}"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
              {{/each}}
             </div>
            
            </div> <!-- .row -->
            
          </div> <!-- .container -->
        </div> <!-- .fullwidth-block.team-section -->

        <div class="fullwidth-block information-section">
          <div class="container">
            <h2 class="section-title">Information</h2>
            <div class="row">
              <div class="col-md-4">
                <figure><img src="dummy/salon.jpeg" ></figure>
              </div>
              <div class="col-md-4">
                <p>The Bloc by Junie Sierra & Co. professionals do all that we can to ensure that every client has a marvelous experience. We create a warm, caring environment both for our clients and for each other. We offer a full range of cutting edge salon services and products. We value our community and we will work to grow together. We hold ourselves accountable for exceeding our clients high expectations and recognize every client as our ultimate focus. We believe the actions of one, have the power to change the world.</p>
              </div>
              <div class="col-md-4">
                <p>As soon as you walk through the doors at The Bloc by Junie Sierra & Co. you will feel right at home. The front lounge offers a beverage bar of complimentary beverages for you to enjoy. Your experience at the The Bloc by Junie Sierra & Co. will be highlighted by award-winning hairstylists, glamorous surroundings and most of all, service that is completely focused on you.</p>
              </div>
            </div>
          </div>
        </div> <!-- .fullwidth-block.information-section -->
      </main>

{{> footer}}

