
<h2 style="text-align:center">User Profile</h2>

<div class="card" color="yellow">
  <img src="{{imageUrl}}" alt="John" style="width:100%; background-color: black">
  <h1>{{name}}</h1>
  <p class="title">a.k.a. {{alias}}</p>
  
  <p>{{email}}</p>
  <p>{{phone}}</p>
  <p> Hobbies:</p>
		        	{{#each hobbies}}
		        	 	<li>{{this}}</li>
		        	{{/each}}
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <p><button>Contact</button></p>
</div>




<div class = "container">
	<div class = "jumbotron" style="background-color:#EEE8AA">
		<h1 class="text-center">Profile</h1>
		<div class="container">
		  <h3 class="text-center">{{name}}</h3>
		 
		  <div class="media"> <!-- class media , to create media element-->
		      <a class="pull-left" href="#">
		        <img class="media-object" src="{{imageUrl}}" alt="...">
		      </a>
		      <div class="media-body">
		        <h4 class="media-heading"><i>List of Information</i></h4>
		        	<ul>
		        		<li><b><i>Alias: </i></b>{{alias}}</li>
		        		<li><b><i>Email Address: </i></b>{{email}}</li>
		        		<li><b><i>Phone Number: </i></b>{{phone}}</li>
		        		
		        	</ul>
		        	<ul>
		        	 	<h5>Hobbies:</h5>
		        	 		{{#each hobbies}}
		        	 			<li>{{this}}</li>
		        	 		{{/each}}
		        	</ul>
      			</div>
  			</div>
	</div>
</div>
			
	


	

